body {
  background-color: #bababa;
}
.title-bar {
  background-color: teal;
  color: white;
  font-family: "Product Sans";
  display: inline-block;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  height: 50px;
  overflow: hidden;
  align: center;
  width: 100%;
}
.title-icon {
  width: 150px;
  height: 50px;
  float: left
}
