body {
  background-color: #bababa;
  margin: 0 0 0 0;
}
.title-bar {
  background-color: teal;
  color: #000000;
  font-family: Helvetica;
  display: inline-block;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  height: 50px;
  overflow: hidden;
  align: center;
  width: 100%;
  box-shadow: 0 0 5px 0;
  position: fixed;
  top: 0;
}
.title-logo {
  text-decoration: none;
  float: left;
  color: #c0c0c0;
  display: block;
  padding: 15px;
}
.title-button {
  text-decoration: none;
  float: left;
  color: #c0c0c0;
  display: block;
  padding: 15px;
}
.title-button:hover {
  background-color: #c0c0c0;
  color: teal;
  display: block;
}
.title-404 {
  color: #5FB2ED;
  font-family: Helvetica;
}
.text-404 {
  color: #505152;
  font-family: Helvetica;
}
.error-code-404 {
  color: black;
  border: solid 2px black;
  border-radius: 2px;
}
