body {
  background-color: #bababa;
  margin: 0 0 0 0;
}
.title-bar {
  background-color: teal;
  color: white;
  font-family: Helvetica;
  display: inline-block;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  height: 50px;
  overflow: hidden;
  align: center;
  width: 100%;
  box-shadow: 0 0 5px 0;
}
.title-logo {
  text-decoration: none;
  float: left;
  color: #c0c0c0;
  margin: 20px;
  display: block;
}
.title-button {
  text-decoration: none;
  float: left;
  color: #c0c0c0;
  margin: 20px;
  display: block;
}
.title-button:hover {
  background-color: #c0c0c0;
  color: teal;
  display: block;
}
